<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsApplication1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Cette section définit la configuration de l'enregistrement dans le fichier journal de My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Supprimez les marques de commentaire dans la section suivante pour écrire dans le journal des événements de l'application -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Supprimez les marques de commentaire dans la section suivante et remplacez APPLICATION_NAME par le nom de votre application à écrire dans le journal des événements de l'application -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <WindowsApplication1.My.MySettings>
            <setting name="SQLConEDI" serializeAs="String">
                <value>Provider=SQLOLEDB.1;Persist Security Info=True;Password=Bgt56yhN;User ID=cssql2017;Server=pmssqlc1.kep.local\app;Database=EDI3;Persist Security Info=True;</value>
            </setting>
            <setting name="SQLDossierETL" serializeAs="String">
                <value>EDI</value>
            </setting>
            <setting name="ModeDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HorizonContratDeb" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HorizonContratFin" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="HorizonAfferme" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CheminDoc" serializeAs="String">
                <value>\\nasc1.kep.local\Data\ERP\BI\EDI\Doc\</value>
            </setting>
            <setting name="DateModifFin" serializeAs="String">
                <value>2050-01-01</value>
            </setting>
            <setting name="CheminImport" serializeAs="String">
                <value>\\pmssqlc1.kep.local\EDI\Import</value>
            </setting>
        </WindowsApplication1.My.MySettings>
    </userSettings>
</configuration>
